header {
  height: 42px;
  padding: 0px;
  background-color: #424242;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-around;
}

.menu {
  display: flex;
  justify-content: left;
}

.menuItem {
  padding: 10px;
  color: white;
  text-decoration: none;
  background-color: #424242;
}

.menuItem:hover {
  background-color: #1b1b1b;
}

.menuItemActive {
  background-color: #1b1b1b;
}
