.card {
    margin: 10px;
    width: 100%;
}

.question {
    display: flex;
    justify-content: space-between;
}

.item {
    margin-left: 10px;
    margin-right: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.dataItem {
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
