.card {
    margin: 10px;
    max-width: 800px;
}

.question {
    display: flex;
    justify-content: space-between;
}

.item {
    margin-left: 10px;
    margin-right: 10px;
}



.dataItem {
    margin-left: 10px;
    margin-right: 10px;
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
